body {
 background-image: url("Hatterkepek/Fluid\ Textures\ \(2\).png");
  background-repeat: no-repeat;
  background-size: cover;
    margin: 0;
    padding: 0;
    background-color: #ffffff00;
    background-attachment: fixed;
}
#bekero {
  background-color: #63666686;
  padding: 2% 4% 2% 4%;
  border-radius: 35px;
  box-shadow: 0 0 1% rgba(0, 0, 0, 0.288);
  margin: 0% 20% 0% 20%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  justify-content: center;
  color: #f1eeec;
  font-size: 110%;
}
#cim {
  font-family: 'Arial', sans-serif;
  font-size: 150%;
  color: #f1eeec;
  text-align: center;
  margin: 0% 10% 0% 10%;
}
#form {
  font-family: 'Arial', sans-serif;
  font-size: 4%;
  color: #333333;
  text-align: center;
  
}
#szuletes-ev{
  width: 5%;
  padding: 1%;
  margin: 0.5%;
  border: 1px solid #ccc;
  border-radius: 25px;

}

 #szuletes-honap, #szuletes-nap {
  width: 3%;
  padding: 1%;
  margin: 0.5%;
  border: 1px solid #ccc;
  border-radius: 25px;
 }
#lakcim-utca, #lakcim-hazszam  {
  width: 15%;
  padding: 1%;
  margin: 0.5%;
  border: 1px solid #ccc;
  border-radius: 25px;
}

#lakcim-iranyitoszam {
  width: 4.5%;
  padding: 1%;
  margin: 0.5%;
  border: 1px solid #ccc;
  border-radius: 25px;
}

#lakcim-varos {
  width: 8%;
  padding: 1%;
  margin: 0.5%;
  border: 1px solid #ccc;
  border-radius: 25px;
}


#tel-orszag , #tel-korzet , #tel-szam {
  width: 8%;
  padding: 1%;
  margin: 0.5%;
  border: 1px solid #ccc;
  border-radius: 25px;
}
#email-cim {
  width: 25%;
  padding: 1%;
  margin: 0.5%;
  border: 1px solid #ccc;
  border-radius: 25px;
}
#uzenet-szoveg {
  width: 45%;
  height: 100px;
  padding: 1%;
  margin: 0.5%;
  border: 1px solid #ccc;
  border-radius: 25px;
}

#bekuldogomb {
  background-color: #2b3452;
  color: #e7e6e5;
  padding: 1% 2%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}